[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
beautifulsoup4 = "*"
requests = "*"
django-allauth = "==0.45.0"
django-leaflet = "*"
googlemaps = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
schedule = "*"
psycopg2-binary = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
